In [31]:
import pymongo as p

In [32]:
client=p.MongoClient("mongodb://localhost:27017/")

## Testing

In [33]:
print(client.list_database_names())

['admin', 'buyer', 'config', 'local', 'vendor']

In [34]:
ven=client['vendor']
ven_details=ven.details
for d in ven_details.find():
    print(d)

{'_id': ObjectId('5f2fb2d22451383810f11614'), 'password': '1234', 'name': 'Shopkeeper1', 'phone': 9999999999.0, 'vendor ID': 'v100'}
{'_id': ObjectId('5f2fb3112451383810f11615'), 'name': 'Shopkeeper2', 'password': '1234', 'phone': 9999988888.0, 'vendor ID': 'v200'}
{'_id': ObjectId('5f2fb3732451383810f11616'), 'password': '1234', 'name': 'Shopkeeper3', 'phone': 9999977777.0, 'vendor ID': 'v300'}

In [35]:
ven_item=ven.items
for d in ven_item.find():
    print(d['item'])

[{'Maggie': {'quantity': 10.0, 'price': 20.0, '_id': '5f2e10d2d4f97b00201b6a20', 'length': 41512.0, 'chunkSize': 261120.0, 'uploadDate': '2020-08-08T02:41:22.263Z', 'filename': 'H59.png', 'md5': 'e9ccc6fefe75ad1743dcf8a0a19a8648', 'contentType': 'image/png'}, 'Biscuit': {'quantity': 15.0, 'price': 30.0, '_id': '5f2e1dcead72df3df4cf8345', 'length': 4452712.0, 'chunkSize': 261120.0, 'uploadDate': '2020-08-08T03:36:47.276Z', 'filename': 'IMG20190818141402.jpg', 'md5': '2678b7665acff5ab34a459c125bfe1ed', 'contentType': 'image/jpeg'}}]
[{'Cheese': {'quantity': 5.0, 'price': 50.0, '_id': '5f2e10d2d4f97b00201b6a20', 'length': 41512.0, 'chunkSize': 261120.0, 'uploadDate': '2020-08-08T02:41:22.263Z', 'filename': 'H59.png', 'md5': 'e9ccc6fefe75ad1743dcf8a0a19a8648', 'contentType': 'image/png'}, 'cake': {'quantity': 20.0, 'price': 10.0, '_id': '5f2e1dcead72df3df4cf8345', 'length': 4452712.0, 'chunkSize': 261120.0, 'uploadDate': '2020-08-08T03:36:47.276Z', 'filename': 'IMG20190818141402.jpg', 'md5': '2678b7665acff5ab34a459c125bfe1ed', 'contentType': 'image/jpeg'}}]
[{'Chocolate': {'quantity': 10.0, 'price': 40.0, '_id': '5f2e10d2d4f97b00201b6a20', 'length': 41512.0, 'chunkSize': 261120.0, 'uploadDate': '2020-08-08T02:41:22.263Z', 'filename': 'H59.png', 'md5': 'e9ccc6fefe75ad1743dcf8a0a19a8648', 'contentType': 'image/png'}, 'Icecream': {'quantity': 20.0, 'price': 20.0, '_id': '5f2e1dcead72df3df4cf8345', 'length': 4452712.0, 'chunkSize': 261120.0, 'uploadDate': '2020-08-08T03:36:47.276Z', 'filename': 'IMG20190818141402.jpg', 'md5': '2678b7665acff5ab34a459c125bfe1ed', 'contentType': 'image/jpeg'}}]

In [36]:
ven_item=ven.items
for d in ven_item.find():
   print("Vendor name : ",d['vendor ID']) 
   for item in d['item']:
      for i in item:
            print(i)
            print(item[i]['price'])
            print(item[i]['quantity'])
            print("total Amount: ",(item[i]['price']*item[i]['quantity']))

Vendor name :  v100
Maggie
20.0
10.0
total Amount:  200.0
Biscuit
30.0
15.0
total Amount:  450.0
Vendor name :  v200
Cheese
50.0
5.0
total Amount:  250.0
cake
10.0
20.0
total Amount:  200.0
Vendor name :  v300
Chocolate
40.0
10.0
total Amount:  400.0
Icecream
20.0
20.0
total Amount:  400.0

## Database Extraction starts

In [37]:
import pandas as pd
userdata=pd.DataFrame(columns=['User ID','Vendor ID','Date','Month','Item List'])
userdata

Empty DataFrame
Columns: [User ID, Vendor ID, Date, Month, Item List]
Index: []

In [38]:
user_details=client['buyer']
d_user_name=[]
d_userID=[]
u_d=user_details.details
for nm in u_d.find():
   d_user_name.append(nm['name'])
   d_userID.append(nm['buyer ID'])
print(d_user_name)
print(d_userID)

['Buyer1', 'Buyer2']
['b100', 'b200']

In [39]:
m=['01','02','03','04','05','06','07','08','09','10','11','12']
m_names=['January','February','March','April','May','June','July','August','September',
         'October','November','December']
u_t=user_details.transaction
t_user_ID=[]
t_vendor_ID=[]
t_day=[]
t_month=[]
t_item_details=[]
for tra in u_t.find():
    t_user_ID.append(tra['buyer ID'])
    t_vendor_ID.append(tra['vendor ID'])
    t_day.append(tra['date'][0:2])
    t_month.append(tra['date'][3:5])
    
    for items in tra['cart']:
        for i in items:
            cart_details=[]
            cart_details.append(i)
            cart_details.append(items[i]['quantity'])
            cart_details.append(items[i]['price'])
            cart_details.append(items[i]['quantity']*items[i]['price'])
            t_item_details.append(cart_details)
            
print(t_item_details)
print(t_day)
print(t_month)
print(t_vendor_ID)
print(t_user_ID)

[['Maggie', 5, 20, 100], ['Cheese', 1.0, 50.0, 50.0], ['cake', 5.0, 10.0, 50.0], ['cake', 5.0, 10.0, 50.0], ['Chocolate', 5.0, 40.0, 200.0], ['Chocolate', 3.0, 40.0, 120.0], ['Biscuit', 4.0, 30.0, 120.0], ['Chocolate', 4.0, 40.0, 160.0], ['Icecream', 5.0, 20.0, 100.0]]
['25', '25', '25', '25', '25', '05', '05', '05', '06']
['08', '08', '08', '08', '08', '09', '09', '09', '09']
['v100', 'v200', 'v200', 'v200', 'v300', 'v300', 'v100', 'v300', 'v300']
['b100', 'b100', 'b100', 'b100', 'b200', 'b200', 'b200', 'b100', 'b100']

In [41]:
#userdata=pd.DataFrame(columns=['User ID','Vendor ID','Date','Month','Item List'])

userdata['User ID']=t_user_ID
userdata['Vendor ID']=t_vendor_ID
userdata['Date']=t_day
userdata['Month']=t_month
userdata['Item List']=t_item_details
userdata.head(10)

  User ID Vendor ID Date Month                      Item List
0    b100      v100   25    08           [Maggie, 5, 20, 100]
1    b100      v200   25    08      [Cheese, 1.0, 50.0, 50.0]
2    b100      v200   25    08        [cake, 5.0, 10.0, 50.0]
3    b100      v200   25    08        [cake, 5.0, 10.0, 50.0]
4    b200      v300   25    08  [Chocolate, 5.0, 40.0, 200.0]
5    b200      v300   05    09  [Chocolate, 3.0, 40.0, 120.0]
6    b200      v100   05    09    [Biscuit, 4.0, 30.0, 120.0]
7    b100      v300   05    09  [Chocolate, 4.0, 40.0, 160.0]
8    b100      v300   06    09   [Icecream, 5.0, 20.0, 100.0]

In [46]:
vendor_details=client['vendor']
d_vendor_name=[]
d_vendorID=[]
u_d=vendor_details.details
for nm in u_d.find():
   d_vendor_name.append(nm['name'])
   d_vendorID.append(nm['vendor ID'])
print(d_vendor_name)
print(d_vendorID)

['Shopkeeper1', 'Shopkeeper2', 'Shopkeeper3']
['v100', 'v200', 'v300']

In [68]:
vendordata=pd.DataFrame(columns=['Vendor ID','Item','Price','Quantity','Total'])
vendordata

Empty DataFrame
Columns: [Vendor ID, Item, Price, Quantity]
Index: []

In [71]:
v_items=vendor_details.items
l_n=[]
l_p=[]
l_q=[]
l_t=[]
v_ID=[]
for v_i in v_items.find():
   v_ID.append(v_i['vendor ID'])
   for it in v_i['item']:
        v_n=[]
        v_p=[]
        v_q=[]
        v_t=[]
        for i in it:
            v_n.append(i)
            v_p.append(it[i]["price"])
            v_q.append(it[i]["quantity"])
            v_t.append(it[i]["price"]*it[i]["quantity"])
        l_n.append(v_n)
        l_p.append(v_p)
        l_q.append(v_q)
        l_t.append(v_t)
print(l_n)
print(l_p)
print(l_q)
print(l_t)

[['Maggie', 'Biscuit'], ['Cheese', 'cake'], ['Chocolate', 'Icecream']]
[[20, 30], [50, 10], [40, 20]]
[[10, 15], [5, 20], [10, 20]]
[[200, 450], [250, 200], [400, 400]]

In [70]:
#vendordata=pd.DataFrame(columns=['Vendor ID','Item','Price','Quantity','Total'])
vendordata['Vendor ID']=v_ID
vendordata['Item']=l_n
vendordata['Price']=l_p
vendordata['Quantity']=l_q
vendordata['Total']=l_t
vendordata.head()

  Vendor ID                   Item         Price      Quantity           Total
0      v100      [Maggie, Biscuit]  [20.0, 30.0]  [10.0, 15.0]  [200.0, 450.0]
1      v200         [Cheese, cake]  [50.0, 10.0]   [5.0, 20.0]  [250.0, 200.0]
2      v300  [Chocolate, Icecream]  [40.0, 20.0]  [10.0, 20.0]  [400.0, 400.0]

## Data Visualization

####  Plotly and dash